<!DOCTYPE html>
<html>
<head><title>Create Password</title></head>
<body>
  <h2>Create Your Password</h2>
  <form method="POST" action="/create-password">
    <input name="password" type="password" placeholder="Set Password" required />
    <button type="submit">Submit</button>
  </form>
</body>
</html>
